<h1>Welcome to the Wizard Page of Wizards....wuzards</h1>


<p>This is where the wizards are. YOu are in the right place I guess...</p>

<ol>
<% @wizards.each do |wizard| %>
  <li>
    <%= "#{wizard["name"]}" %>
  </li>
<% end %>
</ol>

<a href="/wizards/new">Add a new dope wizard</a>
